/* .myDiv
{
    color: red;
}
#Div1
{
    color: blue;
}
div{
    color: blueviolet;
}
.parent .child1
{
    color: green;
}
.parent #child2
{
    color: maroon;
}
.newparent .child3
{
    color: mediumseagreen;
}
.newparent .child2 .child
{
    color: red;
} */

.myDiv
{
    color:white;
    background-color: red;
    padding: 100px;
    margin: 50px;
    font-size: 40px;
    border: 10px solid black;
}