.scroll1
{
    background-color: lightblue;
    width: 300px;
    height: 100px;
    overflow: scroll;
}
#scroll2
{
    background-color: lightblue;
    width: 200px;
    height: 100px;
    overflow: auto;
}
.scroll3
{
    background-color: lightgray;
    width: 250px;
    height: 60px;
    overflow: hidden;
}
#scroll4
{
    background-color: lightgreen;
    width: 200px;
    height: 150px;
    overflow: visible;
}
#scroll5
{
    background-color: lightgreen;
    width: 40px;
    overflow-x: visible;
}