.divStyle
{
    color: white;
    background-color: red;
    width: 500px;
    display: block;
    
}
.spanStyle
{
    color: white;
    background-color: red;
    display: inline-block;
    border: 2px solid blue;
    width: 200px;

}
